DB_USER=postgres
DB_PASS=password
DB_HOST=localhost

GORKI_START_URL=https://www.gorki.de/en/programme/2022/02/all
GORKI_LOGGER_PATH=

VISIT_BERLIN_START_URL=https://www.visitberlin.de/en/event-calendar-berlin
VISIT_BERLIN_LOGGER_PATH=
